<div class="form">
	<%= simple_form_for(@garment) do |f| %>
		<%= f.input :name, class: 'form-control', label: 'Name' %><br>
		<%= f.file_field :image %><br>
		<%= f.input :category, collection: Garment::CATEGORY, as: :select %><br>
		
		<% if @garment.category == 'Shirt' %>
			<%= f.input :bad_combination_ids, collection: @garments_pants, as: :check_boxes, label: 'Not matching pants' %><br>
			<%= f.input :bad_combination_ids, collection: @garments_shoes, as: :check_boxes, label: 'Not matching shoes' %><br>
		<% end %>
		<% if @garment.category == 'Pants' %>
			<%= f.input :bad_combination_ids, collection: @garments_shirts, as: :check_boxes, label: 'Not matching shirts' %><br>
			<%= f.input :bad_combination_ids, collection: @garments_shoes, as: :check_boxes, label: 'Not matching shoes' %><br>
		<% end %>
		<% if @garment.category == 'Shoes' %>
			<%= f.input :bad_combination_ids, collection: @garments_shirts, as: :check_boxes, label: 'Not matching shirts' %><br>
			<%= f.input :bad_combination_ids, collection: @garments_pants, as: :check_boxes, label: 'Not matching pants' %><br>
		<% end %>
		<div class="center">
	  	<%= f.submit 'Save', class: 'btn btn-primary btn-lg' %>
	  </div>
	<% end %>
</div>