<div class="form">
	<%= simple_form_for(@garment) do |f| %>
		<%= f.input :name, class: 'form-control', label: 'Name' %>
		<%= f.file_field :image %>
		<%= f.input :category, collection: Garment::CATEGORY, as: :select %>
		
		<% if @garment.category == 'Shirt' %>
			<%= f.input :bad_combination_ids, collection: @garments_pants, as: :check_boxes, label: 'Not matching pants' %>
			<%= f.input :bad_combination_ids, collection: @garments_shoes, as: :check_boxes, label: 'Not matching shoes' %>
		<% end %>
		<% if @garment.category == 'Pants' %>
			<%= f.input :bad_combination_ids, collection: @garments_shirts, as: :check_boxes, label: 'Not matching shirts' %>
			<%= f.input :bad_combination_ids, collection: @garments_shoes, as: :check_boxes, label: 'Not matching shoes' %>
		<% end %>
		<% if @garment.category == 'Shoes' %>
			<%= f.input :bad_combination_ids, collection: @garments_shirts, as: :check_boxes, label: 'Not matching shirts' %>
			<%= f.input :bad_combination_ids, collection: @garments_pants, as: :check_boxes, label: 'Not matching pants' %>
		<% end %>

	  <%= f.submit 'Save', class: 'btn btn-primary' %>
	<% end %>
</div>