<div class="form">
<%= simple_form_for(@garment) do |f| %>
	<%= f.input :name %><br>
	<%= f.file_field :image %><br>
	<%= f.input :category, collection: Garment::CATEGORY, as: :select %><br>

	<!--<%= f.input :bad_combination_ids, collection: Garment.all, as: :check_boxes%>-->
	<div class="center">
  	<%= f.submit 'Save', class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>
</div>