<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

<%= render partial: 'header' %>

<h1>Listing garments</h1>

<table>
  <thead>
    <tr>
      <th>Garment</th>
      <th>Image</th>
      <th>Category</th>
    </tr>
  </thead>

  <tbody>
    <% @garments.each do |garment| %>
      <tr>
        <td><%= garment.name %></td>
        <td><%= image_tag(garment.image) %></td>
        
        <td><%= garment.category %></td>
        <td><%= link_to 'Show', garment %></td>
        <td><%= link_to 'Edit', edit_garment_path(garment) %></td>
        <td><%= link_to 'Destroy', garment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Garment', new_garment_path %>
