<p><%= @garment.name %></p>

<strong>Image:</strong>
<%= image_tag(@garment.image) %>

<h1>Outfit</h1>
<p><%= @outfit[0] %></p>
<p><%= @outfit[1] %></p>
<p><%= @outfit[2] %></p>

<%= link_to 'Edit', edit_garment_path(@garment) %> |
<%= link_to 'Back', garments_path %>
