<%= render partial: 'header' %>
<div class="show">
	<h1><%= @garment.name %></h1>

	<strong>Image:</strong>
	<%= image_tag(@garment.image) %>

	<p><%= 'Bad combinations:' %></p>
	<% @garment.bad_combinations.each do |garment| %>
	<p><%= garment.name %></p>
	<% end %>

	<div class="center"><%= link_to "Edit", edit_garment_path(@garment), class: "btn btn-primary btn-lg"%></div>
	<br></br>
	<div class="center"><%= link_to "Get Outfit", outfit_index_path, gar: @garment, class: "btn btn-primary btn-lg"%></div>
</div>