<p><%= @garment.name %></p>

<strong>Image:</strong>
<%= image_tag(@garment.image) %>

<h1>Outfit</h1>
<p><%= 'Shoes: '%><%= @outfit[:shoes] %></p>
<p><%= 'Pants: '%><%= @outfit[:pants] %></p>
<p><%= 'Shirt: '%><%= @outfit[:shirt] %></p>


<%= link_to 'Edit', edit_garment_path(@garment) %> |
<%= link_to 'Back', garments_path %>
