<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>	

<%= render partial: 'header' %>

<h1><%= @garment.name %></h1>

<strong>Image:</strong>
<%= image_tag(@garment.image) %>

<p><%= 'Bad combinations:' %></p>
<% @garment.bad_combinations.each do |garment| %>
<p><%= garment.name %></p>
<% end %>


<%= link_to 'Edit', edit_garment_path(@garment) %> |
<%= link_to 'Back', garments_path %>
