<!DOCTYPE html>
<html>
<head>
	<title>Dress Me Up!</title>

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</head>

<body>
	<%= render partial: 'header' %>

 	<div class="center">
 		<h1>Today's Outfit</h1>
 		<p><%= 'Shirt: ' %><%= @outfit[:shirt][:name] %></p>
		<%= image_tag("/uploads/garment/image/#{@outfit[:shirt][:id]}/#{@outfit[:shirt][:image]}") %>
		<p><%= 'Pants: ' %><%= @outfit[:pants][:name] %></p>
		<%= image_tag("/uploads/garment/image/#{@outfit[:pants][:id]}/#{@outfit[:pants][:image]}") %>
		<p><%= 'Shoes: ' %><%= @outfit[:shoes][:name] %></p>
		<%= image_tag("/uploads/garment/image/#{@outfit[:shoes][:id]}/#{@outfit[:shoes][:image]}") %>
		<p></p>
		<a href=""><button type="button" class="btn btn-primary btn-lg">Random Outfit</button></a>
 	</div>
	<p></p>
</body>
</html>