<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

<%= render partial: 'header' %>

<div class="center">
	<h1>Today's Outfit</h1>
	<% if @outfit[:shirt] == nil %>
		<p><%= image_tag("shirt-placeholder.png") %></p>
		<p>You have no shirt that match the rest of the outfit</p>
		<p><%= link_to 'Create new shirt', new_garment_path %></p>
	<% else %>
		<p><%= 'Shirt: ' %><%= @outfit[:shirt][:name] %></p>
		<%= image_tag("/uploads/garment/image/#{@outfit[:shirt][:id]}/#{@outfit[:shirt][:image]}") %>
	<% end %>
	<% if @outfit[:shirt] == nil %>
		<p>Pants: You have no pants that match the rest of the outfit</p>
		<p><%= link_to 'Create new pants', new_garment_path %></p>
	<% else %>
		<p><%= 'Pants: ' %><%= @outfit[:pants][:name] %></p>
		<%= image_tag("/uploads/garment/image/#{@outfit[:pants][:id]}/#{@outfit[:pants][:image]}") %>
	<% end %>
	<% if @outfit[:shoes] == nil %>
		<p><%= image_tag("shoes-placeholder.jpg") %></p>
		<p>You have no shoes that match the rest of the outfit</p>
		<p><%= link_to 'Create new shoes', new_garment_path %></p>
	<% else %>
		<p><%= 'Shoes: ' %><%= @outfit[:shoes][:name] %></p>
		<p><%= image_tag("/uploads/garment/image/#{@outfit[:shoes][:id]}/#{@outfit[:shoes][:image]}") %></p>
	<% end %>
	<p></p>
	<a href=""><button type="button" class="btn btn-primary btn-lg">Random Outfit</button></a>
</div>
<p></p>